<div class="container-fluid bg-success">
    <div class="container">
        <div class="row text-center m-auto">
            <div class="col-12 card">
                <div>
                    <div class="mb-3">
                        <h1><b>To do list</b></h1>
                    </div>
                    <div class="m-auto text-center">
                        <form (ngSubmit)="addTask()" #form="ngForm" class="text-center">
                            <div class="input-group mb-3 col-sm-4 m-auto text-center">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-tasks"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Add task" aria-label="task" aria-describedby="basic-addon1">
                                <button type="submit" class="btn btn-primary ml-3"><i class="fas fa-plus"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>