<div class="container-fluid bg-success end">
    <h5 class="cursorPointer" (click)="logout()">¡Hello {{name}}!<b> Logout <i class="fas fa-sign-out-alt"></i></b></h5>
</div>
<div class="container-fluid center bg-success ">
    <div class="container ">
        <div class="row text-center m-auto">
            <div class="col-12 card shadowContainer">
                <div>
                    <div class="mb-3">
                        <h2><b>Folders ({{numberFolders}})</b></h2>
                    </div>
                    <div class="m-auto text-center">
                        <form (ngSubmit)="addFolder(form)" #form="ngForm" class="text-center">
                            <div class="input-group mb-3 col-sm-12 col-12 cold-md-6 col-lg-6 col-xl-6 m-auto text-center">
                                <input type="text" class="form-control input" placeholder="Add folder" aria-label="task" aria-describedby="basic-addon1" autocomplete="off" name="description" required ngModel>
                                <button type="submit" class="btn btn-primary ml-3"><i class="fas fa-plus"></i></button>
                            </div>
                        </form>
                    </div>
                    <div class="m-auto text-center">
                        <div *ngFor="let folder of folders;index as i">
                            <div class="shadow m-2">
                                <i class="fas fa-trash-alt mr-2 cursorPointer" style="color:red" (click)="deleteFolder(folder,i)"></i>
                                <span style="font-size: 20px;"><b>{{folder.description | uppercase }}</b></span>
                                <a [routerLink]="['/task', folder._id]"><i class="fas fa-arrow-alt-circle-right ml-2 cursorPointer" ></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>