.center {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100vh;
}

.card {
    background-color: rgba(245, 245, 245, 0.5);
    border-radius: 70px;
    padding: 25px;
}

.end {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: unset;
    align-content: flex-end;
}

.cursorPointer {
    cursor: pointer;
}

.error {
    color: red;
}